<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style/styler.css">
</head>
<body>

    <h1 style="align-content: center"> Welcome to Random WebPage (-_-)</h1>
    <h3>Click below to Sign Up</h3>
    <form action="/signup" method="post">
    <input type="submit"  value="Sign Up">
    </form>
    <br>
    <h3>Already have account with us. Login by clicking below</h3>
    <form action="/loginpage" method="post">
        <input type="submit" value="Login">
    </form>
</body>
</html>