<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login with Random Website</title>
    <link rel="stylesheet" href="/static/style/styler.css">
</head>
<body>
    <h1>Welcome to Random Website. Please Login to Continue</h1><br>
    <form action="/loginpost" method="post">
        <input type="text" name="username" placeholder="Select your username"><br><br>
        <input type="password" name="password" placeholder="Select secure Password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>