<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Result</title>
    <link rel="stylesheet" href="/static/style/styler.css">

</head>
<body>
    <h1>We will compare your login result here</h1>
    <h3>You entered Username: {{ loginusername }} and Password as: {{ loginpassword }}</h3>
    {% if loginusername == 'adhikari' and loginpassword == "python" %}
        <h3>Access Granted. Congrats You entered right login credential</h3>
    {% else %}
        <h3>Access Denied. Sorry You entered Wrong login credential</h3>
    {% endif %}
</body>
</html>