<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="/static/style/styler.css">
</head>
<body>
    <h1>Welcome to Random Website.</h1>
    <h4>Thank you for wanting to be part of our website. Please fill up form below to sign up</h4>
    <form action="/register" method="post">
        <input type="text" name="firstName" placeholder="Your First Name">
        <input type="text" name="lastName" placeholder="Your Last Name"><br><br>
        <input type="text" name="username" placeholder="Select your username"><br><br>
        <input type="password" name="password" placeholder="Select secure Password"><br><br>
        <input type="email" name="email" placeholder="Your Valid E-mail"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>